legend,
#header h1,
#header h1 a,
#header h1 a:hover,
#header h1 a:visited {
    color:#262;
}
a,
a:link {
    color:#494;
}
a:visited {
    color:#174;
}

blockquote,
code {
    border-left:4px solid #262;
}